<div class="character" id="character1">
	<div></div>
	<div></div>
	<div></div>
	<div></div>
</div>
<div class="character" id="character2">
	<div></div>
	<div></div>
	<div></div>
	<div></div>
</div>
<div class="character" id="character3">
	<div></div>
	<div></div>
	<div></div>
	<div></div>
</div>

<div class="name">
	<div>Wilbert</div>
	<div>Erick</div>
	<div>Maru</div>
</div>