/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
*{
	box-sizing: border-box;
}

body{												
	margin:0px;
	font-family: Palatino, serif;
	font-variant: small-caps;
	font-size: 14px;
	color: #002D27;/*#B96C6F;*/
	background-color: #fff; 

}

.header{
	width: 100%;
	height: 100px;
	color: #FFDEAD;
	background-color: #088A84;
	position: relative;
	top: 0px;
}

.login_container{
	width:300px;
	height: calc(85% - 5px);
	padding: 5px; 
	padding-left: 10px;
	padding-right: 10px;
	background-color: rgba(0,0,0,0.1);
	position: absolute;
	top: 10%;
	right: 50px;
}

.stores_container h1{
	margin: 0px;
	padding-right: 10px;
}

.stores_container h4{
	margin: 0px;
	padding-right: 10px;
	text-align: center;
}

.stores_container{
	width: 200px;
	height: calc(100vh - 100px);
	padding-left: 20px;
	padding-right: 20px;
	background-color: rgba(255, 222, 173, 0.6);
	float: left;
}

.content{
	width: calc(100% - 200px);	
	height: calc(100vh - 100px);
	background-color: rgba(255, 222, 173, 0.44); /*#CCDEAD *//*#BC8F8F*/
	float: left;
}

.character {
  padding: 10px;
  width: 60px;
  height: 50px;
	position: absolute;
	top: 25%;
	left: 50px;
}

.character div{
	width: 8px;
	padding-top: 50px;
	animation: color 10s infinite;
}

.character div:nth-child(1){
  position: absolute;
  left: 35px;
	border-bottom-left-radius: 5px;
	border-top-right-radius: 5px;
  top: 2px;
  transform: rotate(160deg);
}

.character div:nth-child(2){
  position: absolute;
  right: 35px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  top: 2px;
  transform: rotate(-160deg);

}

.character div:nth-child(3){
	position: absolute;
	bottom: 0;
	left:6px;
}

.character div:nth-child(4){
	position: absolute;
	bottom: 0;
	right: 6px;
}

#character1 {	
  animation: rotate_char1 2s infinite alternate;
}

#character2 {
	animation: rotate_char2 2s infinite alternate;
	animation-delay: 3s;
}
#character3 {
	animation: rotate_char3 2s infinite alternate;
	animation-delay: 3s;
}

@keyframes color{
	100%{background-color: #FFDEAD}
	50%{background-color: #002D27}
	0%{background-color: #FFDEAD}
}

@keyframes rotate_char1{
	100%{transform: rotate(0deg)}
}

@keyframes rotate_char2{
	0%{transform: rotate(0deg);}
	50%{left: 110px;
			transform: rotate(90deg);}
	100%{left: 110px;
			transform: rotate(90deg);}
}

@keyframes rotate_char3{
	0%{transform: rotate(0deg);}
	50%{left: 110px;
			transform: rotate(90deg);}
	100%{transform: rotate(180deg);
			left: 170px;}
}

@keyframes text-color{
	100%{color: #FFDEAD; opacity: 0}
	50%{color: #FFDEAD; opacity:1}
	0%{color: #002D27; opacity:0}
}

.name div{
	width: 100px;
	position: absolute;
	top: 75px;
	left:45px;
	font-size: 18px;
	opacity:0;
}

.name div:nth-child(1){
	animation: text-color 10s infinite alternate;
	animation-delay: 2s;
}

.name div:nth-child(2){
	left:120px;
	animation: text-color 10s infinite alternate;
	animation-delay: 3s;
}

.name div:nth-child(3){
	left:180px;
	animation: text-color 10s infinite alternate;
	animation-delay: 4s;
}
_________________