%h1 Products
%table 
	%thead
		%tr
			%th Name
			%th price
	%tbody
	- @products.each do |product|
		%tr
			%td
				= product.name
			%td
				= product.price
=link_to 'Crear Producto', new_store_product_path(@store)